:host {
  height: 100vh;
  width: 100%;
  display: flex;
  display: block;
}

.sidebar {
  height: 100vh;
  top: 60px;
  position: fixed;
}

.menu-bar {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.body {
  padding-left: 210px;
  padding-top: 70px;
  display: block;
  height: 100vh;
}

:host ::ng-deep p-menubarsub {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.admin-logo {
  cursor: pointer;
}
