<div class="separator-container-with-title">
  <h3 class="cbs-title  cbs-second-title center-title">NOS REGLES DU JEU</h3>
</div>
<ul class="rules-container">
  <li class="flex-double-container">
    <div class="flex-element rule-title-container">
      <h4>La Passion du Dév - tu auras.</h4>
    </div>
    <p class="flex-element  cbs-text">
      {{ site.devRule }}
    </p>
  </li>

  <li class="flex-double-container">
    <div class="flex-element rule-title-container">
      <h4>Ensemble - nous serons.</h4>
    </div>
    <p class="flex-element cbs-text">
      {{ site.togetherRule }}
    </p>
  </li>

  <li class="flex-double-container">
    <div class="flex-element rule-title-container">
      <h4>Une ambition d’être à la pointe - nous avons.</h4>
    </div>
    <p class="flex-element cbs-text">
      {{ site.ambitiousRule }}
    </p>
  </li>

  <li class="flex-double-container">
    <div class="flex-element rule-title-container">
      <h4>Prendre du plaisir - sans cesse.</h4>
    </div>
    <p class="flex-element cbs-text">
      {{ site.pleasureRule }}
    </p>
  </li>

</ul>
