<div *ngIf="_client" class="edit-container">

  <h3 *ngIf="!_createMode">Client : {{ _client.name }}</h3>
  <h3 *ngIf="_createMode">Create a client !</h3>

  <div class="edit-category">
    <h4 class="edit-category-title">Main informations</h4>
    <form [formGroup]="clientForm" class="edit-form">
      <div class="edit-field">
        <label class="edit-label">Name</label>
        <input class="edit-input" formControlName="name" type="text" pInputText />
      </div>
    </form>
    <div class="edit-actions">
      <button *ngIf="_createMode" pButton type="button" icon="pi pi-plus" iconPos="left" label="Create"
        class="edit-save p-button-outlined p-button-success" (click)="createClient()" [disabled]="clientForm.invalid"></button>
      <button *ngIf="!_createMode" pButton type="button" icon="pi pi-save" iconPos="left" label="Save"
        class="edit-save p-button-outlined p-button-primary" (click)="updateClient()" [disabled]="clientForm.invalid"></button>
    </div>
  </div>

  <ng-container *ngIf="!_createMode">
    <div class="edit-category">
      <h4 class="edit-category-title">Client's busters</h4>
      <p class="empty-list-message">WIP</p>
    </div>

    <div class="edit-category">
      <h4 class="edit-category-title">Related technologies</h4>
      <p class="empty-list-message">WIP</p>
    </div>

  </ng-container>



</div>
