@import "constants";
@import "colors";
@import "mixin";

:host {
  display: block;
  @include cbsSideMargin(0, 0, 1, 0);
}

.element-container {
  @include cbsSidePadding(1, 1, 0, 0);
  display: flex;
  overflow: hidden;

  .element-illustration {
    width: 800px;
    margin-left: -350px;
  }

  .quill-view-container {
    width: 100%;
  }
}

.other-news-container {
  @include cbsSideMargin(0, 1, 0, 1);

  .news-container {
    width: 100%;
    display: flex;

    .news {
      opacity: 90%;
      width: 100%;

      p {
        padding: 0 8px;
      }

      &:hover {
        cursor: pointer;
        opacity: 100%;
      }
      &:nth-child(2) {
        margin: 0 32px;
      }

      .news-illustration-container {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        background-color: $tertiary;
        border-radius: 4px;

        .news-illustration {
          position: absolute;
          max-height: 100%;
          max-width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .element-container {
    flex-direction: column;
    @include cbsSidePadding(1, 1, 1, 1);

    .element-illustration {
      width: 100%;
      margin-left: 0;
    }
  }
  .other-news-container {
    margin-top: 48px;
    .news-container {
      flex-direction: column;

      .news {
        &:nth-child(1) {
          margin-top: 24px;
        }
        &:nth-child(2) {
          @include cbsSideMargin(1, 0, 1, 0);
        }
      }
    }
  }
}
