<p class="cbs-big-title side-margin-right">{{ news.title }}</p>
<div class="separator-container-with-button">
  <button class="cbs-button cbs-retour" routerLink="/news">
    <i class="pi pi-chevron-left"></i>
    Retour
  </button>
</div>
<!-- <div class="element-container">
  <img class="element-illustration" src="{{ imgPath.earth }}" alt="{{ imgPath.earth }}">
  <div class="element-content">
    <p class="cbs-main-title">Titre 1</p>
    <p class="cbs-text cbs-text-color-gray">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum mollitia numquam, repellat,
      commodi quis quod
      consectetur error eos quae perferendis quas sit soluta architecto expedita harum accusamus odio, accusantium nisi.
    </p>

    <p class="cbs-main-title">Titre 2</p>
    <p class="cbs-text cbs-text-color-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum mollitia
      numquam, repellat,
      commodi quis quod
      consectetur error eos quae perferendis quas sit soluta architecto expedita harum accusamus odio, accusantium nisi.
    </p>

    <p class="cbs-main-title">Titre 3</p>
    <p class="cbs-text cbs-text-color-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum mollitia
      numquam, repellat,
      commodi quis quod
      consectetur error eos quae perferendis quas sit soluta architecto expedita harum accusamus odio, accusantium nisi.
    </p>
  </div>
</div> -->
<div class="other-news-container">
  <div class="separator-container-with-title">
    <h3 class="cbs-main-title center-title">TOUTES LES NEWS</h3>
  </div>
  <div class="news-container">
    <div class="news">
      <img src="{{ imgPath.earth }}" alt="{{ imgPath.earth }}" class="news-illustration">
      <p class="cbs-big-title">News titre</p>
      <p class="cbs-main-title cbs-text-color-gray">news date</p>
    </div>

    <div class="news">
      <img src="{{ imgPath.earth }}" alt="{{ imgPath.earth }}" class="news-illustration">
      <p class="cbs-big-title">News titre</p>
      <p class="cbs-main-title cbs-text-color-gray">news date</p>
    </div>

    <div class="news">
      <img src="{{ imgPath.earth }}" alt="{{ imgPath.earth }}" class="news-illustration">
      <p class="cbs-big-title">News titre</p>
      <p class="cbs-main-title cbs-text-color-gray">news date</p>
    </div>
  </div>
</div>
