<p class="cbs-big-title side-margin-right">{{ news.title }}</p>
<div class="separator-container-with-button">
  <button class="cbs-button cbs-retour" routerLink="/news">
    <i class="pi pi-chevron-left"></i>
    Retour
  </button>
</div>
<div class="element-container">
  <img class="element-illustration" [src]="news.imgPath" alt="{{ news.imgPath }}">
  <div class="quill-view-container">
    <app-custom-ngx-quill-view [content]="news.content"></app-custom-ngx-quill-view>
  </div>
</div>


<div class="other-news-container">
  <div class="separator-container-with-title">
    <h3 class="cbs-main-title center-title">TOUTES LES NEWS</h3>
  </div>
  <div class="news-container">


    <div class="news" *ngFor="let n of lastNews" (click)="goTo(n)">
      <div class="news-illustration-container">
        <img [src]="n.imgPath" alt="{{ n.imgPath }}" class="news-illustration">
      </div>
      <p class="cbs-main-title">{{ n.title }}</p>
      <p class="cbs-second-title cbs-text-color-gray">{{ n.createdDate | since }}</p>
    </div>

  </div>
</div>
