<div class="listing">
  <div class="list-header">
    <h2>Technologies</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Technology"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourceService]="technoService" [resources]="resources"
    [resourcesActions]="technologiesListingAction">
  </app-resource-listing>
</div>
<app-technology-edit (newResourceEmitter)="onNewResource($event)" [createMode]="creationMode"
  [resource]="selectedResource" class="edit-element" (updateResourceEmit)="onUpdateResource($event)">
</app-technology-edit>
