<p-table [value]="resources" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let label of resourcesLabels">{{ label.value }}</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element>
    <tr (click)="resourcesActions?.onRowClick(element.id)">
      <td *ngFor="let label of resourcesLabels">{{ label.key ? element[label.key] : label.formatter(element) }}</td>
      <td>
        <i class="pi pi-trash" (click)="resourcesActions?.onDelete(element.id)" *ngIf="resourcesActions.onDelete"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
