<p-table [value]="resources" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let label of resourcesLabels">{{ label.value }}</th>
      <th class="action-cell">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element>
    <tr (click)="selectElement(element); resourcesActions?.onRowClick(element.id)"
      [ngClass]="{'selected': element.selected }">
      <td *ngFor="let label of resourcesLabels">{{ label.key ? element[label.key] : label.formatter(element) }}</td>
      <td class="action-cell">
        <i class="pi pi-trash" (click)="resourcesActions?.onDelete(element.id)" *ngIf="resourcesActions.onDelete"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
