<div *ngIf="_resource" class="edit-container">

  <p-tabView>
    <p-tabPanel header="Main informations">
      <div class="edit-category">
        <form [formGroup]="resourceForm" class="edit-form">
          <div class="edit-field">
            <label class="edit-label">Name</label>
            <input class="edit-input" formControlName="name" type="text" pInputText />
          </div>
        </form>
        <div class="edit-actions">
          <button *ngIf="_createMode" pButton type="button" icon="pi pi-plus" iconPos="left" label="Create"
            class="edit-save p-button-outlined p-button-success" (click)="createResource()"
            [disabled]="resourceForm.invalid"></button>
          <button *ngIf="!_createMode" pButton type="button" icon="pi pi-save" iconPos="left" label="Save"
            class="edit-save p-button-outlined p-button-primary" (click)="updateResource()"
            [disabled]="resourceForm.invalid"></button>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Workers" *ngIf="!_createMode">
      <div class="edit-category">
        <app-resource-listing [resourceService]="busterService" [resourcesActions]="bustersListingAction"
          [resources]="_resource.contractors">
        </app-resource-listing>
        <p class="empty-list-message" *ngIf="!_resource.contractors || _resource.contractors.length === 0">This clients
          hasn't
          buster yet</p>
        <app-resource-search [resourceService]="busterService" actionLabel="Add Buster"
          (selectionEmitter)="addContractotForClient($event)">
        </app-resource-search>
      </div>

    </p-tabPanel>

  </p-tabView>



</div>
