<div class="footer-container">
  <div>
    <p class="footer-link cbs-text" routerLink="">Code Busters</p>
    <p class="footer-link cbs-text" routerLink="/community">La communauté des Busters</p>
    <p class="footer-link cbs-text" routerLink="/busters">Deviens un Buster</p>
  </div>

  <div>
    <div class="social-media-icons-container">
      <i class="pi pi-clock"></i>
      <i class="pi pi-cog"></i>
    </div>
    <p class="cbs-text">Mention légal</p>
  </div>

  <div>
    <p class="cbs-under-title">contact@codeBusters.com</p>
    <p class="cbs-under-title">T. +33 6 45 52 38 65</p>
  </div>
</div>
