@import "colors";
@import "constants";
@import "mixin";

:host {
  display: block;
  @include cbsSideMargin(0, 0, 1, 0);
  overflow: hidden;
}

.sections-container {
  padding-top: 32px;
  @include cbsSideMargin(1, 1, 1, 1);
  .section {
    .section-header {
      border: solid $white;
      border-width: 0 0 1px 0;
      position: relative;

      .section-title {
        position: absolute;
        background-color: $primary;
        width: 300px;
        top: -0.7em;
      }
    }

    .section-content {
      margin: 32px 0 64px 0;
      display: flex;

      .section-illustration {
        height: 300px;
        width: 300px;
        position: relative;

        .section-img {
          position: absolute;
          max-height: 100%;
          max-width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .section-element-container {
        flex: 1;
        display: flex;
        align-items: center;

        .section-element {
          border: solid $first-gray 1px;
          flex: 1;
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          border-radius: 4px;
          padding: 32px;

          .pi-clock {
            margin-right: 8px;
          }

          &:hover {
            border-color: $secondary;
          }

          &:nth-child(2) {
            margin: 0 32px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-md) {
  .section-title {
    width: unset !important;
    padding-right: 32px !important;
  }
  .section-content {
    overflow: visible;
    margin-left: -150px !important;
    align-items: center;

    .section-element-container {
      flex-direction: column;
      padding: 32px 0;

      .section-element {
        width: 100%;
        padding: 16px !important;
        &:nth-child(2) {
          margin: 32px 0 !important;
        }
      }
    }
  }
}
