@import "constants";
@import "colors";
@import "mixin";

:host {
  display: block;
  overflow: hidden;
  @include cbsSideMargin(0, 0, 1, 0);
}

.success-candidacy-message {
  color: $white;
  @include cbsSidePadding(1, 1, 1, 1);
}

.cbs-input {
  border: solid $first-gray;
  border-width: 0 0 1px 0;
  background-color: transparent;
  color: $white;
  font-size: $font-size-3;
  margin-bottom: 48px;
  min-width: 300px;
  padding-bottom: 8px;

  &::placeholder {
    color: $white;
  }
}

.file-input-container {
  position: relative;
  cursor: pointer;
  .pi-file {
    color: $white;
    position: absolute;
    right: 0px;
    top: 4px;
  }
}

.candidacy-container {
  @include cbsSidePadding(1, 1, 0.5, 1);
  display: flex;

  .candidacy-type-container {
    @include cbsSidePadding(0, 0, 0, 1);
    @include cbsSideMargin(1, 0, 1, 0);
  }

  .candidacy-form-container {
    display: flex;
    .candidacy-colum {
      display: flex;
      flex-direction: column;
    }

    .candidacy-first-column {
      @include cbsSidePadding(0, 1, 0, 1);
      border: solid $first-gray;
      border-width: 0 0 0 1px;
    }

    .candidacy-second-column {
      padding-left: 96px;
      @include cbsSidePadding(0, 1, 0, 1);
    }
  }
}

.send-candidacy-container {
  display: flex;
  justify-content: center;
}

.job-manager {
  margin: 48px 0 0 0;
  border: solid $first-gray;
  border-width: 0 0 1px 0;
  padding-bottom: 8px;
}

.cbs-select {
  border: solid $first-gray;
  border-width: 0 0 1px 0;
  padding-bottom: 8px;
  width: 100%;
}

.job-rank-container {
  display: flex;
  align-items: center;

  .job-rank-img {
    width: 96px;
  }
}

@media screen and (max-width: $screen-md) {
  .candidacy-form-container {
    flex-direction: column;
  }
  .candidacy-container {
    flex-direction: column;
  }

  .candidacy-first-column {
    border-width: 0 0 0 0 !important;
    @include cbsSideMargin(1, 0, 0, 0);
  }

  .file-input-container {
    display: none;
  }
}
