@import "constants";
@import "colors";
@import "mixin";

:host {
  display: block;
  @include cbsSideMargin(0, 0, 1, 0);
}

.candidacy-container {
  @include cbsSidePadding(1, 1, 0.5, 1);
  display: flex;
  overflow: hidden;
  justify-content: center;

  .candidacy-type-container {
    @include cbsSidePadding(0, 0, 0, 0);
    @include cbsSideMargin(0, 0.5, 0, 0);
    display: flex;
    flex-direction: column;

    .job-rank-container {
      display: flex;
      align-items: center;

      .job-rank-img {
        width: 96px;
      }
    }
  }

  .candidacy-form-container {
    display: flex;
    .candidacy-colum {
      display: flex;
      flex-direction: column;
    }

    .candidacy-first-column {
      @include cbsSidePadding(0, 1, 0, 0.5);
      border: solid $first-gray;
      border-width: 0 0 0 1px;
    }

    .candidacy-second-column {
      @include cbsSidePadding(0, 1, 0, 0);
    }
  }
}

.send-candidacy-container {
  display: flex;
  justify-content: center;

  .success-candidacy-message {
    color: $white;
    @include cbsSidePadding(1, 1, 1, 1);
  }
}

@media screen and (max-width: $screen-md) {
  .candidacy-type-container {
    margin-right: 0 !important;
    padding: 16px !important;
  }
  .candidacy-form-container {
    flex-direction: column;
  }
  .candidacy-container {
    flex-direction: column;
  }

  .candidacy-first-column {
    border-width: 0 0 0 0 !important;
    padding: 0 16px !important;
  }

  .candidacy-second-column {
    padding: 0 16px !important;
  }

  .cbs-file-input {
    display: none;
  }
}
