<div class="home-title-container">
  <p class="cbs-big-title">
    <span class="indicator">03.</span>
    <span class="title-content">
      DEVIENS UN BUSTER
      <button class="cbs-button cbs-savoir" routerLink="/busters">EN SAVOIR<i class="pi pi-plus"></i></button>
    </span>
  </p>
</div>
<div class="home-flex-container">
  <app-home-navigation-indicator [selectedContainer]="homeContainer.Contact"></app-home-navigation-indicator>
  <div class="contact-questions-container" *ngIf="results.length !== 3">
    <div>
      <p class="question cbs-main-title"><span class="cbs-text-color-secondary">{{ selectedQuestion.number}}/3</span>
        {{
        selectedQuestion.title }}
      </p>
      <p *ngFor="let answer of selectedQuestion.answers" class="cbs-text cbs-text-color-gray answer"
        [ngClass]="{ 'answer-selected': answer.selected}" (click)="selectAnswer(answer)">
        <i class="pi" [ngClass]="answer.selected ? 'pi-circle-on' : 'pi-circle-off' "></i>
        {{ answer.content }}
      </p>
    </div>
    <button class="cbs-button cbs-progression" (click)="nextQuestion()" [disabled]="!atLeastOneAnswerIsSelected()"
      [ngClass]="{'disabled': !atLeastOneAnswerIsSelected()}">
      Suivant
      <i class="pi pi-chevron-right"></i>
    </button>
  </div>

  <div *ngIf="results.length === 3" class="contact-form-container">
    <p class="cbs-under-title contact-text">
      <span class="secondary-text cbs-text-color-secondary margin-bottom-1">Tu sembles être pret pour rejoindre
        les Busters</span> <br />
      Quelques infos sur toi ?
    </p>
    <form [formGroup]="contactForm" class="contact-form">
      <input type="text" formControlName="firstname" placeholder="Prénom">
      <input type="text" formControlName="lastname" placeholder="Nom">
      <input type="email" formControlName="mail" placeholder="Mail">
      <input type="text" formControlName="phone" placeholder="N° Téléphone">
    </form>
    <div class="contact-actions-container">
      <button (click)="sendContact()" class="cbs-button cbs-savoir">Envoyer</button>
    </div>
  </div>
</div>
