@import "colors";
@import "../home.scss";
@import "constants";

:host {
  background-image: linear-gradient(
    10deg,
    hsl(248deg 44% 11%) 0%,
    hsl(247deg 44% 10%) 12%,
    hsl(246deg 43% 10%) 22%,
    hsl(246deg 43% 10%) 30%,
    hsl(245deg 42% 10%) 37%,
    hsl(244deg 41% 9%) 43%,
    hsl(244deg 41% 9%) 47%,
    hsl(243deg 40% 9%) 51%,
    hsl(242deg 39% 8%) 54%,
    hsl(241deg 39% 8%) 56%,
    hsl(240deg 38% 8%) 58%,
    hsl(238deg 39% 7%) 59%,
    hsl(237deg 39% 7%) 61%,
    hsl(236deg 40% 7%) 63%,
    hsl(234deg 40% 6%) 65%,
    hsl(233deg 40% 6%) 68%,
    hsl(232deg 40% 6%) 71%,
    hsl(232deg 39% 5%) 76%,
    hsl(231deg 37% 5%) 82%,
    hsl(230deg 34% 4%) 90%,
    hsl(230deg 30% 4%) 100%
  );
  padding: $side-margin 0;
  padding-left: $side-margin;
}
.question {
  margin-bottom: 48px;

  span {
    margin-right: 16px;
  }
}

.answer {
  cursor: pointer;
  margin-bottom: 24px;

  .pi {
    margin-right: 12px;
  }
  &:hover,
  &.answer-selected {
    color: $secondary;
  }
}

.contact-body-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -15%;
  padding-left: $side-margin;

  .contact-form-container {
    display: flex;
    align-items: center;
    flex: 1;

    .contact-form {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 48px;
      border: solid 1px $white;
      padding: 48px;

      input {
        background-color: transparent;
        outline: none;
        color: $white;
        border: solid $white;
        border-width: 0 0 1px 0;
        margin-bottom: 24px;
      }
    }
  }

  .img-cup {
    width: 30%;
  }
}
