@import "colors";
@import "constants";

:host {
  color: $white;
}

.search-container {
  margin: 48px $side-margin-body;

  .choose-rank-title {
    border: solid $white;
    border-width: 0 0 1px 0;
    padding-bottom: 16px;
  }

  .ranks-container {
    display: flex;
    align-items: center;

    .rank-container {
      display: flex;
      align-items: center;
      max-width: 40%;

      .talent-rank-img {
        width: 48px;
      }

      .rank-title {
        font-weight: bold;
        padding-right: 16px;
      }

      .rank-description {
        border: solid $white;
        border-width: 0 0 0 1px;
        padding: 16px;
        display: none;
      }

      &.selected {
        .rank-description {
          display: block;
        }
      }
    }
  }
}

.jobs-container {
  margin: 32px $side-margin-body;

  .job-container {
    margin-bottom: 24px;
    border: solid 1px $white;
    display: flex;
    align-items: center;

    .job-img {
      width: 64px;
    }

    .job-title {
      flex: 1;
      margin: 0;
    }

    .job-title {
      margin: 0;
    }

    .job-date {
      margin: 0;
    }
  }
}
