@import "colors";
@import "constants";
@import "mixin";

:host {
  overflow: hidden;
  display: block;
}

.talent-container {
  margin-right: 0;
  display: flex;

  .talent-description-container {
    @include cbsSideMargin(0, 1, 0, 1);
    text-align: center;

    .cbs-under-title {
      margin-bottom: 24px;
    }
  }
}

.talent-img-container {
  display: flex;
  flex: 1;
  position: relative;

  .rank-line {
    width: 100%;
    border: solid $first-gray;
    bottom: 0;
    border-width: 0 0 1px 0;
    position: absolute;
  }

  .rank-name-container {
    position: relative;
    height: 3em;
    margin-bottom: 1em;

    .rank-name {
      margin-bottom: 1em;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .talent-rank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
    flex: 1;

    &:last-child {
      margin-right: $side-margin;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .img-rank-container {
    width: 100%;
    position: relative;
    margin-bottom: -30%;

    .talent-rank-img-hidden {
      width: 100%;
      visibility: hidden;
    }
    .talent-rank-img {
      position: absolute;
      width: 80%;
      margin-bottom: -20%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.talent-rank-container {
  display: flex;
  flex-direction: column;

  .rank-description {
    margin: 32px $side-margin 0 0;

    @media screen and (max-width: $screen-md) {
      @include cbsSideMargin(1, 1, 1, 1);
    }
  }
}

.talent-selector-container {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 16px;

  &:hover {
    .background {
      background-color: $white;
    }
  }

  .background {
    background-color: $first-gray;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .base {
    background-color: $primary;
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
  }

  .selected {
    background-color: $first-gray;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
  }
}

.selected-rank {
  .background,
  .selected {
    background-color: $white;
  }
  .rank-name {
    color: $white;
  }
}

.rank-description-container {
  position: relative;
  height: $side-margin;
  .cbs-text {
    position: absolute;
  }
}

@media screen and (max-width: $screen-md) {
  .talent-container {
    flex-direction: column;
    @include cbsSideMargin(1, 0, 0, 0);
  }

  .talent-img-container {
    margin: 0 !important;
    .rank-line {
      bottom: 14px;
    }

    .talent-rank {
      justify-content: flex-end;
      height: 100%;
      padding-bottom: -20px !important;

      &:first-child {
        @include cbsSideMargin(0, 0, 0, 1);
      }

      &:nth-child(4) {
        @include cbsSideMargin(0, 1, 0, 0);
      }
    }
  }

  .rank-description-container {
    @include cbsSideMargin(0, 0, 1, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px !important;

    .cbs-text {
      text-align: center;
    }
  }
}
