<p class="cbs-main-title center-title">VALORISER LE TALENT</p>
<div class="flex-double-container talent-container">
  <div class="flex-element talent-description-container">
    <p class="cbs-under-title">"Chez Code Busters, nous pensons que le Talent n’attend pas les
      années."</p>
    <p class="cbs-text cbs-text-color-gray hide-on-screen-sm">
      C’est pourquoi nous avons décidé de mettre en place un modèle de rémunération unique et inédit basé sur l’apport
      de valeur au sein de la communauté. Il en découle un certain nombre de responsabilités qu’ils incombent aux
      Busters en fonction de leurs grades.
    </p>
  </div>
  <div class="flex-element talent-rank-container">
    <div class="talent-img-container">
      <div class="talent-rank" *ngFor="let rankImg of rankImgs"
        [ngClass]="{ 'selected-rank': selectedRank === rankImg.rank }">
        <div class="img-rank-container">
          <img class="talent-rank-img-hidden" src="{{ rankImg.imgPath }}" alt="bronze">
          <img [@widthIn]="selectedRank === rankImg.rank" class="talent-rank-img" src="{{ rankImg.imgPath }}"
            alt="bronze" (click)="selectRank(rankImg.rank)">
        </div>
        <div class="rank-name-container">
          <p (click)="selectRank(rankImg.rank)" class="cbs-second-title cbs-text-color-gray rank-name"
            [@zoomIn]="selectedRank === rankImg.rank">{{
            rankImg.rank }}</p>
        </div>

        <div class="talent-selector-container" (click)="selectRank(rankImg.rank)">
          <span class="background"></span>
          <span class="base"></span>
          <span class="selected" *ngIf="selectedRank === rankImg.rank" [@zoomInOnEnter] [@zoomOutOnLeave]></span>
        </div>
      </div>
      <div class="rank-line"></div>
    </div>
    <div class="rank-description-container">
      <ng-container *ngFor="let rank of ranks | keyvalue">
        <p [@fadeInOnEnter] [@fadeOutOnLeave] *ngIf="selectedRank === rank.key"
          class="cbs-text cbs-text-color-gray rank-description">{{
          rankOptions[rank.key].description }}</p>

      </ng-container>
    </div>
  </div>
</div>
