<div class="listing">
  <div class="list-header">
    <h2>Busters</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Buster"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourcesLabels]="bustersLabel" [resourcesActions]="bustersListingAction" [resources]="busters">
  </app-resource-listing>
</div>
<app-buster-edit [buster]="selectedBuster" class="edit-element" [createMode]="creationMode" (newBuster)="onNewBuster($event)"
  (updateBusterEmit)="onUpdateBuster($event)">
</app-buster-edit>
