<h2 class="cbs-title cbs-main-title">NEWS</h2>
<div class="separator-container-with-button">
  <button class="cbs-button cbs-retour" routerLink="">
    <i class="pi pi-chevron-left"></i>
    Retour
  </button>
</div>

<div class="section">
  <div class="separator-container-with-left-title">
    <h3 class="cbs-title cbs-second-title left-title">New project</h3>
  </div>
  <div class="projects-list">
    <img src="{{ imgPath.earth }}" alt="news" class="section-img">
    <div class="projects-container">

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

    </div>
    <i class="pi pi-chevron-right next-icon"></i>
  </div>
</div>

<div class="section">
  <div class="separator-container-with-left-title">
    <h3 class="cbs-title cbs-second-title left-title">New Buster</h3>
  </div>
  <div class="projects-list">
    <img src="{{ imgPath.sweat }}" alt="news" class="section-img">
    <div class="projects-container">

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

    </div>
    <i class="pi pi-chevron-right next-icon"></i>
  </div>
</div>

<div class="section">
  <div class="separator-container-with-left-title">
    <h3 class="cbs-title cbs-second-title left-title">New Job</h3>
  </div>
  <div class="projects-list">
    <img src="{{ imgPath.hat }}" alt="news" class="section-img">
    <div class="projects-container">

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

    </div>
    <i class="pi pi-chevron-right next-icon"></i>
  </div>
</div>

<div class="section">
  <div class="separator-container-with-left-title">
    <h3 class="cbs-title cbs-second-title left-title">Evènement</h3>
  </div>
  <div class="projects-list">
    <img src="{{ imgPath.calendar }}" alt="news" class="section-img">
    <div class="projects-container">

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

      <div class="project">
        <p>Nom du projet</p>
        <p><i class="pi pi-clock"></i> Aujourd'hui</p>
      </div>

    </div>
    <i class="pi pi-chevron-right next-icon"></i>
  </div>
</div>
