@import "colors";
@import "constants";
@import "mixin";

:host {
  display: flex;
  min-height: 20vh;
  border: solid $secondary-dark;
  border-width: 1px 0 0 0;

  @include cbsSidePadding(0.3, 1, 0, 1);
  overflow: hidden;
}

.footer-link {
  margin-bottom: 16px;
  &:hover {
    cursor: pointer;
    color: $secondary;
  }
}

.footer-email {
  margin-bottom: 32px;
}

.footer-container {
  overflow: hidden;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-mention {
  margin-top: 16px;
  text-align: center;
}

.social-media-icons-container {
  display: flex;
  justify-content: center;

  .pi {
    color: $secondary;
    font-size: $font-size-0;
    opacity: 0.8;
    margin: 0 16px;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:first-child {
      margin-right: 18px;
    }
  }
}

.linkedin-logo {
  width: 32px;
  cursor: pointer;
}

@media screen and (max-width: $screen-md) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .footer-links {
      order: 2;
      margin: 32px 0 0 0;
    }

    .footer-contact {
      order: 1;
    }

    .footer-logos {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }
}
