<div class="footer-container">
  <div class="footer-links">
    <p class="footer-link cbs-text cbs-text-color-gray" routerLink="">Code Busters</p>
    <p class="footer-link cbs-text cbs-text-color-gray" routerLink="/community">La communauté des Busters</p>
    <p class="footer-link cbs-text cbs-text-color-gray" routerLink="/busters">Deviens un Buster</p>
  </div>

  <div class="footer-logos">
    <div class="social-media-icons-container">
      <img (click)="openLinkedin()" class="linkedin-logo" src="{{ imgPath.linkedinLogo }}" alt="linkedin-logo">
    </div>
    <!-- <p class="cbs-text cbs-text-color-gray footer-mention">Mention légal</p> -->
  </div>

  <div class="footer-contact">
    <p class="cbs-second-title footer-email cbs-text-color-gray">
      <span class="cbs-text-color-white">contact</span>@codebusters.fr
    </p>
    <p class="cbs-second-title cbs-text-color-gray">
      <span class="cbs-text-color-white">T.</span> +33 1 80 04 10 20
    </p>
  </div>
</div>
