@import "colors";
@import "constants";

:host {
  align-items: center;
  justify-items: center;
  margin-right: $side-margin;
}

.home-container-separator {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: $first-gray;
}

.home-container-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-container-selector {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;

  &.selected-container,
  &:hover {
    .background {
      background-color: $white;
    }
  }

  &:nth-child(2) {
    margin: 64px 0;
  }

  .background {
    background-color: $first-gray;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .base {
    background-color: $primary;
    z-index: 2;
    position: absolute;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
  }

  .selected {
    background-color: $white;
    z-index: 3;
    position: absolute;
    border-radius: 50%;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
  }
}
