<div class="home-container-selection">

  <div class="home-container-selector" [ngClass]="{ 'selected-container': selectedContainer === HomeContainer.Busters}"
    (click)="selectContainer(HomeContainer.Busters)">
    <span class="background"></span>
    <span class="base"></span>
    <span class="selected" *ngIf="selectedContainer === HomeContainer.Busters"></span>
  </div>

  <div class="home-container-selector"
    [ngClass]="{ 'selected-container': selectedContainer === HomeContainer.Community}"
    (click)="selectContainer(HomeContainer.Community)">
    <span class="background"></span>
    <span class="base"></span>
    <span class="selected" *ngIf="selectedContainer === HomeContainer.Community"></span>
  </div>

  <div class="home-container-selector" [ngClass]="{ 'selected-container': selectedContainer === HomeContainer.Contact}"
    (click)="selectContainer(HomeContainer.Contact)">
    <span class="background"></span>
    <span class="base"></span>
    <span class="selected" *ngIf="selectedContainer === HomeContainer.Contact"></span>
  </div>

  <div class="home-container-separator"></div>


</div>
