@import "../home.scss";

:host {
  display: block;
  position: relative;
  background-color: #07080d;
  padding-top: $side-margin;
}

.home-title-container {
  padding: 0 $side-margin;
}

.img-container {
  width: 100%;
  position: relative;

  .home-navigation {
    position: absolute;
    left: $side-margin;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .easterEggs {
    width: 2%;
    height: 3%;
    cursor: pointer;
    position: absolute;
    bottom: 7%;
    right: 25%;
    z-index: 3;
  }

  .hover-container {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;

    .buster-hover {
      &.alex-hover {
        width: 30%;
        height: 40%;
        margin-top: 10%;
      }

      &.francois-hover {
        width: 18%;
        height: 35%;
        margin-top: 15%;
      }

      &.thomas-hover {
        width: 15%;
        height: 30%;
        margin-top: 20%;
      }

      &.antoine-hover {
        width: 13%;
        height: 30%;
        margin-top: 25%;
      }

      &.hedi-hover {
        width: 24%;
        height: 40%;
        margin-top: 23%;
      }
    }
  }

  img {
    width: 100%;
  }
}
