<div class="home-title-container">
  <p class="cbs-big-title"><span class="indicator">02.</span><span class="title-content">LA COMMUNAUTE DES
      BUSTERS</span></p>
  <button class="cbs-button cbs-savoir">EN SAVOIR <i class="pi pi-plus"></i></button>
</div>
<div class="hover-container" (mouseout)="selectBuster('Default')">
  <div class="buster-hover alex-hover" (mouseover)="selectBuster('Alex')"></div>
  <div class="buster-hover francois-hover" (mouseover)="selectBuster('Francois')"></div>
  <div class="buster-hover thomas-hover" (mouseover)="selectBuster('Thomas')"></div>
  <div class="buster-hover antoine-hover" (mouseover)="selectBuster('Antoine')"></div>
  <div class="buster-hover hedi-hover" (mouseover)="selectBuster('Hedi')"></div>
</div>
<img class="img-container" src="{{ selectedImgPath }}" alt="busters-community">
