.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.listing {
  padding-right: 12px;
  border: solid #dee2e6;
  border-width: 0 1px 0 0;
  width: 40%;
}

.empty-list-message {
  color: red;
}

.add-first-element-container {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;

  .add-first-element-input {
    margin-right: 12px;
  }
}

.edit-element {
  flex: 1;
}

.pi-trash {
  cursor: pointer;
  color: red;
}
