<div *ngIf="_techno" class="edit-container">

  <h3 *ngIf="!_createMode">Technology : {{ _techno.name }}</h3>
  <h3 *ngIf="_createMode">Create a technology</h3>

  <div class="edit-category">
    <h4 class="edit-category-title">Main informations</h4>
    <form [formGroup]="technoForm" class="edit-form">
      <div class="edit-field">
        <label class="edit-label">Name</label>
        <input class="edit-input" formControlName="name" type="text" pInputText />
      </div>
    </form>

    <div class="edit-actions">
      <button *ngIf="_createMode" pButton type="button" icon="pi pi-plus" iconPos="left" label="Create"
        class="edit-save p-button-outlined p-button-success" (click)="createTechno()" [disabled]="technoForm.invalid"></button>
      <button *ngIf="!_createMode" pButton type="button" icon="pi pi-save" iconPos="left" label="Save"
        class="edit-save p-button-outlined p-button-primary" (click)="updateTechno()" [disabled]="technoForm.invalid"></button>
    </div>
  </div>

  <ng-container *ngIf="!_createMode">
    <div class="edit-category">
      <h4 class="edit-category-title">Busters who knows</h4>
      <p class="empty-list-message">WIP</p>
    </div>

    <div class="edit-category">
      <h4 class="edit-category-title">Related squads</h4>
      <p class="empty-list-message">WIP</p>
    </div>
  </ng-container>



</div>
