<div *ngIf="_techno" class="edit-container">
  <h3>Client : {{ _techno.name }}</h3>

  <div class="edit-category">
    <h4 class="edit-category-title">Main informations</h4>
    <form [formGroup]="technoForm" class="edit-form">
      <div class="edit-field">
        <label class="edit-label">Name</label>
        <input class="edit-input" formControlName="name" type="text" pInputText />
      </div>
    </form>
  </div>

  <div class="edit-category">
    <h4 class="edit-category-title">Busters who knows</h4>
  </div>

  <div class="edit-category">
    <h4 class="edit-category-title">Related squads</h4>
  </div>

</div>
