.selected {
  background-color: rgba(#0e89ec, 0.15) !important;
  color: black !important;
  font-weight: 900;
}

.action-cell {
  text-align: center !important;
}

.pi-directions {
  cursor: pointer;
  margin: 0 8px;
}
