<div *ngIf="_resource || _createMode" class="edit-container">

  <p-tabView>

    <p-tabPanel header="Main informations">
      <div class="edit-category">
        <form [formGroup]="resourceForm" class="edit-form">


          <div class="double-field-container">
            <div class="edit-field">
              <label class="edit-label">Firstname</label>
              <input class="edit-input" formControlName="firstName" type="text" pInputText />
            </div>
            <div class="edit-field">
              <label class="edit-label">Lastname</label>
              <input class="edit-input" formControlName="lastName" type="text" pInputText />
            </div>
          </div>

          <div class="double-field-container">
            <div class="edit-field">
              <label class="edit-label">Email</label>
              <input class="edit-input" formControlName="email" type="text" pInputText />
            </div>
            <div class="edit-field">
              <label class="edit-label">Rank</label>
              <app-rank-selector formControlName="rank"></app-rank-selector>
            </div>
          </div>

          <div class="double-field-container">
            <div class="edit-field">
              <label class="edit-label">Title</label>
              <input type="text" pInputText formControlName="title" class="edit-input">
            </div>

            <div class="edit-field">
              <label class="edit-label">Starting date</label>
              <p-calendar [style]="{'width':'100%'}" class="cbs-calendar" [showIcon]="true"
                formControlName="startingDate"></p-calendar>
            </div>
          </div>

          <div class="field-checkbox edit-field-checkbox">
            <p-checkbox [binary]="true" formControlName="isAdmin" inputId="isAdmin">
            </p-checkbox>
            <label class="edit-label" for="isAdmin">Est un administrateur</label>
          </div>

          <div class="edit-field edit-description">
            <label class="edit-label">Description</label>
            <app-custom-ngx-quill formControlName="description"></app-custom-ngx-quill>
          </div>


        </form>
        <div class="edit-actions">
          <button *ngIf="_createMode" pButton type="button" icon="pi pi-plus" iconPos="left" label="Create"
            class="edit-save p-button-outlined p-button-success" (click)="createResource()"
            [disabled]="resourceForm.invalid"></button>
          <button *ngIf="!_createMode" pButton type="button" icon="pi pi-save" iconPos="left" label="Save"
            class="edit-save p-button-outlined p-button-primary" (click)="updateResource()"
            [disabled]="resourceForm.invalid"></button>
        </div>
      </div>
    </p-tabPanel>

    <ng-container *ngIf="!_createMode">

      <p-tabPanel header="Profil picture">
        <app-buster-profil-picture [buster]="_resource"></app-buster-profil-picture>
      </p-tabPanel>

      <p-tabPanel header="Buster's squad">
        <app-buster-edit-squad [squad]="_resource.squad" [resourceId]="_resource.id"></app-buster-edit-squad>
      </p-tabPanel>

      <p-tabPanel header="Buster's activity">
        <app-buster-edit-activity [resourceId]="_resource.id" [currentClient]="_resource.currentClient"
          [projects]="_resource.projects"></app-buster-edit-activity>
      </p-tabPanel>

      <p-tabPanel header="Buster's technologies">
        <app-buster-edit-technologies [resourceId]="_resource.id" [technologies]="_resource.technologies">
        </app-buster-edit-technologies>
      </p-tabPanel>

    </ng-container>

  </p-tabView>
</div>
