@import "colors";

.rank-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  border: 0;

  .rank-img {
    width: 40px;
    height: 40px;
  }

  .rank-name {
    border: 0;
    color: $secondary-white;
  }
}
