@import "colors";
@import "constants";

// CONTENT TEXT

.cbs-text {
  color: $white;
  font-size: $font-size-4;
  font-weight: $font-weight-4;
  line-height: 1.6;
  font-family: "GothamMedium", sans-serif;
}

.secondary-text {
  color: $secondary;
  font-size: $font-size-4;
  font-family: "GothamLight", sans-serif;
}

// LINK

.cbs-link {
  color: $white;
  font-family: "GothamMedium", sans-serif;
  font-size: $font-size-2;
  .cbs-link-action {
    border: solid $white;
    border-width: 0 0 1px 0;
    margin-left: 4px;

    &:hover {
      color: $secondary;
      border-color: $secondary;
    }
  }
}

// TITLE

.center-title {
  text-align: center;
}

.cbs-title {
  color: $white;
  font-family: "GothamBold", sans-serif;
}

.cbs-main-title {
  font-size: $font-size-1;
  font-family: "GothamBold", sans-serif;
}

.cbs-second-title {
  font-size: $font-size-2;
  font-family: "GothamMedium", sans-serif;
}

.cbs-under-title {
  font-size: $font-size-3;
  font-family: "GothamLight", sans-serif;
}
