@import "../constants.scss";
@import "mixin";

.side-margin-right {
  @include cbsSideMargin(0, 0, 0, 1);
}

.side-margin-left {
  @include cbsSideMargin(0, 1, 0, 0);
}

.side-margin-top {
  margin-top: $side-margin !important;
}

.hide-on-screen-sm {
  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.hide-on-screen-md {
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}

.hide-on-screen-lg {
  @media screen and (max-width: $screen-lg) {
    display: none;
  }
}

.full-width {
  width: 100%;
}
