$primary: #130f2a;
// $primary: #0b0726;
$secondary: #d4975e;
$secondary-dark: #7e5a3980;
$tertiary: #43355b;

$white: white;
$secondary-white: #e9dac4;
$end-primary-gradiant: #120f27;
$mid-primary-gradiant: #151229;
$black: black;

$first-gray: gray;
$second-gray: #ffffffbe;
