@font-face {
  font-family: "GothamBold";
  src: url("../assets/fonts/GothamCond-Bold.woff") format("woff");
}

@font-face {
  font-family: "GothamMedium";
  src: url("../assets/fonts/GothamCond-Medium.woff") format("woff");
}

@font-face {
  font-family: "GothamLight";
  src: url("../assets/fonts/GothamCond-Light.woff") format("woff");
}

@font-face {
  font-family: "GothamBook";
  src: url("../assets/fonts/GothamBook.woff") format("woff");
}

$side-margin: 112px;

$font-size-0: 60px;
$font-size-1: 50px;
$font-size-2: 32px;
$font-size-3: 22px;
$font-size-4: 18px;

$screen-xs: 0px;
$screen-sm: 840px;
$screen-md: 1024px;
$screen-lg: 1440px;

$side-margin-xs: 24px;
$side-margin-sm: 48px;
$side-margin-md: 68px;
$side-margin-lg: 120px;
$screen-size-margin: $screen-xs $side-margin-xs, $screen-sm $side-margin-sm, $screen-md $side-margin-md,
  $screen-lg $side-margin-lg;
