@import "constants";

@mixin cbsSidePadding($factorTop, $factorRight, $factorBottom, $factorLeft) {
  @each $screen-size, $side-margin in $screen-size-margin {
    @media screen and (min-width: $screen-size) {
      padding: calc($factorTop * $side-margin) calc($factorRight * $side-margin) calc($factorBottom * $side-margin)
        calc($factorLeft * $side-margin);
    }
  }
}

@mixin cbsSideMargin($factorTop, $factorRight, $factorBottom, $factorLeft) {
  @each $screen-size, $side-margin in $screen-size-margin {
    @media screen and (min-width: $screen-size) {
      margin: calc($factorTop * $side-margin) calc($factorRight * $side-margin) calc($factorBottom * $side-margin)
        calc($factorLeft * $side-margin);
    }
  }
}

@mixin cbsSize($widtPixel, $heightPixel) {
  $size: $screen-xs 0.6, $screen-sm 0.7, $screen-md 0.8, $screen-lg 1;
  @each $screen-size, $factor in $size {
    @media screen and (min-width: $screen-size) {
      width: calc($widtPixel * $factor);
      height: calc($heightPixel * $factor);
    }
  }
}

// https://codepen.io/sosuke/pen/Pjoqqp <= MAGIE NOIR
// Prefix with " brightness(0) saturate(100%) " to color png firstly into black
@mixin colorPngToSecondary {
  filter: brightness(0) saturate(100%) invert(76%) sepia(18%) saturate(1344%) hue-rotate(336deg) brightness(87%)
    contrast(89%);
}

@mixin colorPngToPrimary {
  filter: brightness(0) saturate(100%) invert(6%) sepia(70%) saturate(888%) hue-rotate(217deg) brightness(103%)
    contrast(102%);
}

@mixin colorPngToWhite {
  filter: brightness(0) saturate(100%) invert(99%) sepia(60%) saturate(0%) hue-rotate(243deg) brightness(105%)
    contrast(102%);
}
