@import "colors";
@import "constants";

.custom-ngx-quill-editor,
.custom-ngx-quill-view {
  * {
    font-family: "GothamBook", sans-serif !important;
    font-size: $font-size-4;
  }

  display: block;

  .ql-editor {
    padding: 0;
  }

  &.edition {
    .ql-editor {
      background-color: $primary;
      min-height: 300px;
      padding: 16px;
    }
  }

  p,
  span {
    font-family: "GothamBook", sans-serif !important;
    font-size: $font-size-4 !important;
  }

  h4,
  h4 span {
    font-size: $font-size-1 !important;
    font-family: "GothamMedium", sans-serif !important;
  }

  h3,
  h3 span {
    font-size: $font-size-3 !important;
    font-family: "GothamMedium", sans-serif !important;
  }

  h2,
  h2 span {
    font-size: $font-size-2 !important;
    font-family: "GothamBold", sans-serif !important;
  }

  h1,
  h1 span {
    font-size: $font-size-1 !important;
    font-family: "GothamBold", sans-serif !important;
  }
}
