<div class="listing">
  <div class="list-header">
    <h2>Busters</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create An Event"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourceService]="eventService" [resourcesActions]="eventsListingAction"
    [resources]="resources">
  </app-resource-listing>
</div>
<app-event-edit [createMode]="creationMode" [resource]="selectedResource" (newResourceEmitter)="onNewResource($event)"
  (updateResourceEmit)="onUpdateResource($event)" class="edit-element"></app-event-edit>
