<ul class="principles">

  <li class="principle">
    <img src="{{ imgPath.cog }}" alt="cog" class="principle-img">
    <h3 class="cbs-title cbs-second-title">DE DEV A DEV</h3>
    <h4 class="cbs-title center-title cbs-under-title">"Un développeur, c'est avant tout un problem solver."</h4>
    <p class="cbs-text">
      Il doit comprendre des problématiques technico-fonctionnelles parfois complexes, être à jour sur les technologies
      et outils qui existent. C’est un métier exigeant et nous pensons que seuls les Dévs peuvent se challenger entre
      eux. Nous pensons qu’il n’y a rien de mieux qu’un dévs pour manager et accompagner dans sa carrière un autre Dév.
    </p>
  </li>

  <li class="principle">
    <img src="{{ imgPath.friends }}" alt="friends" class="principle-img">
    <h3 class="cbs-title cbs-second-title">JAMAIS SEUL</h3>
    <h4 class="cbs-title center-title cbs-under-title">"Un dév ne peut travailler seul."</h4>
    <p class="cbs-text">
      Pour confronter ses idées, progresser, partager ses dernières découvertes mais aussi les derniers bugs résolus.
      Les Busters peuvent entrer en contact facilement (#Discord), se retrouver pour travailler ensemble, ou juste boire
      des coups pour échanger sur un problème ou une techno.
    </p>
  </li>
  <li class="principle">
    <img src="{{ imgPath.rubiks }}" alt="rubiks" class="principle-img">
    <h3 class="cbs-title cbs-second-title">GRANDIR ENSEMBLE</h3>
    <h4 class="cbs-title center-title cbs-under-title">"Plus l'équipe est petite, plus l'accompagnement est précis."
    </h4>
    <p class="cbs-text">
      Nous avons choisi de créer des squads petites et homogènes qui permettent un échange plus facile entre Busters
      d’une même squad et génère une progression plus rapide de tous les Busters.
    </p>
  </li>
</ul>
