@import "constants";
@import "colors";

.principles {
  padding: $side-margin;
  display: flex;
  width: 100%;

  .principle {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 48px;
    text-align: center;

    &:nth-child(2) {
      border: solid $first-gray;
      border-width: 0 1px;
    }

    .cbs-second-title {
      margin: 16px 0 32px 0;
    }
  }

  .principle-img {
    max-width: 100%;
    margin: -10% 0;
  }
}
