<div class="edit-category">
  <app-resource-listing [disableSelection]=true [resourceService]="technoService" [resources]="technologies"
    [resourcesActions]="technologiesListingAction">
  </app-resource-listing>
  <p class="empty-list-message" *ngIf="!technologies || technologies.length === 0">This
    buster
    don't
    knows any
    technology</p>
  <app-resource-search actionLabel="Add Technology" [resourceService]="technoService"
    (selectionEmitter)="onAddingTechno($event)"></app-resource-search>
</div>
