<div class="listing">
  <div class="list-header">
    <h2>Jobs</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Job"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourceService]="jobService" [resourcesActions]="jobsListingAction" [resources]="resources">
  </app-resource-listing>
</div>
<app-job-edit [createMode]="creationMode" [resource]="selectedResource" (newResourceEmitter)="onNewResource($event)"
  (updateResourceEmit)="onUpdateResource($event)" class="edit-element">
</app-job-edit>
