<form [formGroup]="passwordForm" class="edit-form">
  <div class="edit-field">
    <label class="edit-label">Mot de passe actuel</label>
    <p-password styleClass="cbs-admin-password-input" formControlName="currentPassword" [feedback]="false"></p-password>
  </div>
  <div class="edit-field">
    <label class="edit-label">Nouveau mot de passe</label>
    <p-password styleClass="cbs-admin-password-input" formControlName="password" [feedback]="false"></p-password>
  </div>
  <div class="edit-field">
    <label class="edit-label">Confirmation de votre mot de passe</label>
    <p-password styleClass="cbs-admin-password-input" formControlName="confirmationPassword" [feedback]="false">
    </p-password>
  </div>
  <div class="edit-actions">
    <button pButton type="button" icon="pi pi-save" iconPos="left" label="Save"
      class="edit-save p-button-outlined p-button-primary" (click)="changePassword()"
      [disabled]="passwordForm.invalid"></button>
  </div>
</form>
