@import "colors";
@import "constants";

:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px $side-margin;
  margin-bottom: $side-margin;
}

.logo {
  width: 125px;
  height: 135px;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  overflow: hidden;

  .header-icon {
    margin-left: 24px;
    font-size: 32px;
    &:hover {
      cursor: pointer;
      color: $secondary;
      text-shadow: 1px 1px 1px $black;
    }
  }

  span {
    display: flex;
  }
}
