<div class="admin-card">
  <h1 class="cbs-font-size-2 cbs-gotham-medium">Espace Administration</h1>
  <form [formGroup]="loginForm" class="login-form">
    <div class="cbs-admin-form-field">
      <label class="cbs-admin-form-label">Email</label>
      <input (keyup.enter)="login()" class="cbs-admin-input" formControlName="email" type="email" pInputText />
    </div>
    <div class="cbs-admin-form-field">
      <label class="cbs-admin-form-label">Password</label>
      <p-password (keyup.enter)="login()" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
        class="cbs-admin-input-password" formControlName="password" [feedback]="false"></p-password>
    </div>
  </form>
  <p class="cbs-admin-error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  <a class="cbs-admin-link">Mot de passe oublié ?</a>
  <div class="cbs-admin-form-actions">
    <button label="Connexion" pButton [loading]="isLoading" type="button" iconPos="left"
      class="p-button-outlined p-button-success cbs-admin-main-action" (click)="login()" [disabled]="loginForm.invalid">
    </button>
  </div>
</div>
