@import "constants";

.home-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .cbs-big-title {
    position: relative;

    .indicator {
      position: absolute;
      font-weight: lighter;
    }

    .title-content {
      margin-left: $side-margin;
    }
  }

  .cbs-button {
    margin-top: 16px;
    margin-left: $side-margin;
  }
}

.home-flex-container {
  display: flex;
  align-items: center;
}
