@import "constants";
@import "mixin";

.home-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .cbs-big-title {
    position: relative;
    display: flex;

    .indicator {
      @include cbsSideMargin(0, 0, 1, 0);
      font-weight: lighter;
    }

    .title-content {
      @include cbsSideMargin(0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .cbs-button {
    margin-top: 16px;
  }
}

.home-flex-container {
  display: flex;
  align-items: center;
}
