<p class="cbs-big-title side-margin-right">LA COMMUNAUTE <br> DES BUSTERS</p>
<div class="separator-container-with-button">
  <button class="cbs-button cbs-retour" routerLink="">
    <i class="pi pi-chevron-left"></i>
    Retour
  </button>
</div>
<app-community-description></app-community-description>
<app-community-talent [site]="site"></app-community-talent>
<app-community-rules [site]="site"></app-community-rules>
<div class="became-buster-container">
  <button class="cbs-button cbs-action" routerLink="/busters">DEVIENS UN BUSTER</button>
</div>
