<div class="header-with-content-container">
  <p class="cbs-big-title side-margin-left">{{ job.title | titlecase }}</p>
  <div class="header-content">
    <p class="cbs-second-title">
      <img class="title-img" src="{{ imgPath.cap }}" alt="hat">
      {{ job.description | titlecase }}
    </p>
    <p class="cbs-under-title cbs-text-color-gray">
      Managé par {{ job.squad.manager?.firstName }} {{ job.squad.manager?.lastName }}
    </p>
  </div>
  <div class="header-right-content">
    <img class="chrono-img" src="{{ imgPath.chrono }}" alt="chrono">
    <p class="cbs-text">{{ job.createdDate | since}}</p>
  </div>
</div>
<div class="separator-container-with-button">
  <button class="cbs-button cbs-retour" routerLink="/busters">
    <i class="pi pi-chevron-left"></i>
    Retour
  </button>
</div>

<div class="job-offer-container">
  <div class="job-offer-section">
    <div>
      <img *ngIf="jobIsForAManager" class="job-rank-img" src="{{ rankService.getImgPathForRank(job.rank) }}"
        alt="{{ job.rank }}">
      <div *ngIf="!jobIsForAManager" class="job-rank-img-container">
        <img class="border-img" src="{{ job.rank === ranks.Bronze ? imgPath.border.bronze :  imgPath.border.silver }}"
          alt="rank-border">
        <img class="manager-img" src="{{ imgPath.buster }}" alt="buster">
        <img class="border-img-abs"
          src="{{ job.rank === ranks.Bronze ? imgPath.border.bronze :  imgPath.border.silver }}" alt="rank-border">
      </div>
      <p class="cbs-text cbs-text-color-gray cbs-text-justify">Nous sommes organisés en squad et nous proposons à tous
        les Busters Bronze
        et Silver d'avoir
        un accompagnement personalisé par son manager</p>
      <ng-container *ngIf="!jobIsForAManager">
        <p class="cbs-main-title">La squad qui recrute et son manager</p>
        <p class="cbs-text cbs-text-color-gray cbs-text-justify">
          {{ job.squad.description }}
        </p>
      </ng-container>
    </div>
  </div>

  <div class="job-offer-section job-offer-second-section">
    <div>
      <p class="cbs-main-title">La communauté</p>
      <p class="cbs-text cbs-text-color-gray cbs-text-justify">
        Code Busters est une communauté de dévloppeurs avec une approche non plus basée par l'année d'obtention d'un
        diplôme mais par la valeur ajoutée par ses membres. <br /><br />
        Nous proposons des missions techniques qui permettent aux développeurs de découvrir différents environements
        technologiques, différents organisations et méthodologie de travail mais aussi différents coeurs de métiers
        (finance de marché, santé, énergie etc ...). <br /><br />
        Nous mettons tout en oeuvre pour que la communauté des Busters soit un espace de partage entre passionées, et
        que chacun puisse apprendre et assouvir sa soif de curiosité.
      </p>
    </div>
    <div class="full-width">
      <p class="cbs-main-title">Missions</p>
      <p class="cbs-text cbs-text-color-gray cbs-text-justify">{{ job.description }}</p>
    </div>
  </div>

  <div class="job-offer-section">
    <p class="cbs-main-title full-width">Compétences</p>
    <div class="skills-container">
      <div class="skill-element" *ngFor="let technologie of job.technologies">
        <img src="{{ getSkillCapImg(technologie) }}" alt="skill-cap">
        <p class="cbs-second-title cbs-text-color-gray  skill">{{
          technologie.name }}
        </p>
      </div>
    </div>
    <p class="cbs-main-title full-width">Localisation</p>
    <div class="localisation-container">
      <img class="map-icon" src="{{ imgPath.map }}" alt="map-icon">
      <p class="cbs-secondary-text cbs-text-color-gray">Paris, île de france</p>
    </div>

  </div>
</div>

<div class="job-offer-actions-container">
  <button class="cbs-button cbs-action" (click)="candidacyForThisJob()">Postule
    maintenant</button>
</div>
