@import "constants";
@import "colors";

:host {
  display: block;
  margin-bottom: $side-margin;
}

.cbs-big-title {
  margin-right: $side-margin;
}

.job-offer-container {
  padding: 0 $side-margin;
  display: flex;

  & > * {
    flex: 6;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:nth-child(1) {
      flex: 4;
    }

    &:nth-child(2) {
      padding: 0 $side-margin;
    }

    &:last-child {
      flex: 0;
    }
  }

  .cbs-main-title {
    margin: 64px 0 32px 0;
  }

  .job-rank-img {
    width: 100%;
    margin-bottom: -10%;
  }

  .map-icon {
    width: 30%;
    margin-top: -10%;
  }
}

.job-offer-actions-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.skill {
  text-align: center;
  margin: -16px 0 16px 0;
}

.job-rank-img-container {
  position: relative;
  margin-top: 32px;

  .border-img {
    width: 100%;
    visibility: hidden;
  }

  .manager-img {
    height: 85%;
    position: absolute;
    right: 11%;
    top: 10%;
  }

  .border-img-abs {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
  }
}
