@import "constants";
@import "colors";
@import "mixin";

:host {
  display: block;
  @include cbsSideMargin(0, 0, 1, 0);
}

.chrono-img,
.title-img {
  @include colorPngToWhite();
}

.job-offer-container {
  @include cbsSidePadding(0, 1, 0, 1);
  display: flex;

  .job-offer-section {
    flex: 6;
    display: flex;
    align-items: center;
    flex-direction: column;

    .localisation-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:nth-child(1) {
      flex: 4;
    }

    &.job-offer-second-section {
      @include cbsSideMargin(0, 1, 0, 1);
    }

    &:last-child {
      flex: 0;
    }
  }

  .skills-container {
    .skill {
      text-align: center;
      margin: -16px 0 16px 0;
    }
  }

  .cbs-main-title {
    margin: 64px 0 32px 0;
  }

  .job-rank-img {
    width: 100%;
    margin-bottom: -10%;
  }

  .map-icon {
    width: 30%;
    margin-top: -10%;
  }
}

.job-offer-actions-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.job-rank-img-container {
  position: relative;
  margin-top: 32px;

  .border-img {
    width: 100%;
    visibility: hidden;
  }

  .manager-img {
    height: 85%;
    position: absolute;
    right: 11%;
    top: 10%;
  }

  .border-img-abs {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: $screen-md) {
  .job-offer-second-section {
    margin: 0 !important;
  }

  .localisation-container {
    flex-direction: row !important;
  }

  .job-offer-container {
    flex-direction: column;
  }
  .skills-container {
    display: flex;
    width: 100%;

    .skill-element {
      max-width: 33%;

      img {
        width: 100%;
      }
    }
  }
}
