@import "colors";
@import "constants";

:host {
  background-color: $primary;
  display: block;
  color: $white;
}

.became-buster-container {
  display: flex;
  justify-content: center;
  margin: 64px 0 0 0;
}
