<div *ngIf="showApp" class="video-container">
  <video *ngIf="showApp" [@fadeInOnEnter] [@fadeOutOnLeave] #video controls muted=true (canplay)="playVideo()"
    class="video-element" autoplay=true allow="autoplay">
    <source src="{{ videoPath.home }}">
  </video>
  <a (click)="showApp = false" class="skip-video-link">Continuer sur wwww.codebusters.fr</a>
</div>


<div *ngIf="!showApp" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <app-header class="header"></app-header>
  <div id="anchor-point"></div>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
