<div *ngIf="_resource" class="edit-container">


  <p-tabView>

    <p-tabPanel header="Main informations">
      <div class="edit-category">
        <form [formGroup]="resourceForm" class="edit-form">
          <div class="double-field-container">
            <div class="edit-field">
              <label for="edt-label">Date</label>
              <input type="text" formControlName="createdDate" pInputText class="edit-input">
            </div>
          </div>
          <div class="double-field-container">
            <div class="edit-field">
              <label class="edit-label">Firstname</label>
              <input class="edit-input" formControlName="firstname" type="text" pInputText />
            </div>
            <div class="edit-field">
              <label class="edit-label">Lastname</label>
              <input class="edit-input" formControlName="lastname" type="text" pInputText />
            </div>
          </div>
          <div class="double-field-container">
            <div class="edit-field">
              <label class="edit-label">Email</label>
              <input class="edit-input" formControlName="mail" type="text" pInputText />
            </div>
            <div class="edit-field">
              <label class="edit-label">Phone</label>
              <input class="edit-input" formControlName="phone" type="text" pInputText />
            </div>
          </div>
          <div class="edit-field">
            <label class="edit-label">Description</label>
            <textarea pInputTextarea formControlName="freeField"></textarea>
          </div>

        </form>
      </div>
    </p-tabPanel>

    <p-tabPanel *ngIf="_resource.job" header="Job">
      <form [formGroup]="jobForm">
        <div class="double-field-container">
          <div class="edit-field">
            <label class="edit-label">Title</label>
            <input class="edit-input" formControlName="title" type="text" pInputText />
          </div>
          <div class="edit-field">
            <label class="edit-label">Undertitle</label>
            <input class="edit-input" formControlName="underTitle" type="text" pInputText />
          </div>
        </div>
        <div class="double-field-container">
          <div class="edit-field">
            <label class="edit-label">Rank</label>
            <app-rank-selector formControlName="rank"></app-rank-selector>
          </div>
        </div>
        <div class="edit-field">
          <label class="edit-label">Description</label>
          <input class="edit-input" formControlName="description" type="text" pInputText />
        </div>
      </form>
    </p-tabPanel>

    <p-tabPanel *ngIf="_resource.cv" header="CV">
      <a class="cbs-admin-download-link" (click)="downloadCV()">{{ _resource.cv }}</a>
    </p-tabPanel>

    <p-tabPanel *ngIf="responses && responses.length > 0" header="Responses">
      <div class="edit-field" *ngFor="let response of responses">
        <input class="edit-input" disabled="true" [value]="response" type="text" pInputText />
      </div>
    </p-tabPanel>


  </p-tabView>






</div>
