@import "colors";
@import "constants";

:host {
  background-color: $primary;
  display: block;
  color: $white;
}

.home-container-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  margin-left: $side-margin-body;

  .pi {
    cursor: pointer;
  }

  .separator {
    border: solid $white;
    border-width: 0 0 0 1px;
    height: 24px;
  }
}

.home-container {
  min-height: calc(100vh - 200px);
  display: block;
}
