<app-home-news></app-home-news>

<app-home-busters></app-home-busters>
<app-home-community class="home-container"></app-home-community>

<app-home-contact class="home-container"></app-home-contact>



<!-- <div class="home-container-selection">

  <i class="pi" [ngClass]="isContainerSelected(HomeContainer.Busters) ? 'pi-circle-on' : 'pi-circle-off' "
    (click)="selectContainer(HomeContainer.Busters)"></i>

  <div class="separator"></div>

  <i class="pi" [ngClass]="isContainerSelected(HomeContainer.Community) ? 'pi-circle-on' : 'pi-circle-off' "
    (click)="selectContainer(HomeContainer.Community)"></i>

  <div class="separator"></div>

  <i class="pi" (click)="selectContainer(HomeContainer.Contact)"
    [ngClass]="isContainerSelected(HomeContainer.Contact) ? 'pi-circle-on' : 'pi-circle-off' "></i>
</div> -->
