<div>
  <h2><span>01. CODE BUSTERS</span></h2>
</div>

<div>

  <div>
    <p>{{ site.startBusterTitle }}</p>
    <p>{{ site.startBusterUnderTitle }}</p>
    <p>{{ site.startBusterDescription }}</p>
  </div>

  <img src="{{  imgPath.logo }}" class="logo">

  <div>
    <div>
      <p>{{ site.staffBusterTitle }}</p>
      <p>{{ site.staffBusterUnderTitle }}</p>
      <p>{{ site.staffBusterDescription }}</p>
    </div>

    <div>
      <p>{{ site.clientBusterTitle }}</p>
      <p>{{ site.clientBusterUnderTitle }}</p>
      <p>{{ site.clientBusterDescription }}</p>
    </div>
  </div>

</div>
