<div class="listing">
  <div class="list-header">
    <h2>Projects</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Project"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourceService]="projectService" [resourcesActions]="projectsListingAction"
    [resources]="resources">
  </app-resource-listing>
</div>
<app-project-edit class="edit-element" [resource]="selectedResource" (updateResourceEmit)="onUpdateResource($event)"
  (newResourceEmitter)="onNewResource($event)" [createMode]="creationMode"></app-project-edit>
