@import "colors";
@import "constants";

:host {
  background-color: $primary;
  display: block;
  color: white;
}

.cbs-main-title {
  margin: 0 0 1em $side-margin;
}

.section-img {
  width: 300px;
}

.projects-list {
  margin: 2em $side-margin-body;
  display: flex;
  align-items: center;

  .next-icon {
    font-size: 3em;
    margin: 0 1em;
  }
}

.projects-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .project {
    border: solid $white 1px;
    padding: 1em;
    flex: 1;

    &:last-child {
      margin-left: 1em;
    }

    &:first-child {
      margin-right: 1em;
    }
  }
}
