<div class="listing">
  <div class="list-header">
    <h2>Clients</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Client"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourceService]="clientService" [resources]="resources"
    [resourcesActions]="clientsListingAction">

  </app-resource-listing>
</div>
<app-client-edit (newResourceEmitter)="onNewResource($event)" [createMode]="creationMode"
  (updateResourceEmit)="onUpdateResource($event)" [resource]="selectedResource" class="edit-element">
</app-client-edit>
