@import "colors";
@import "constants";

.search-container {
  margin: $side-margin $side-margin 16px $side-margin;

  .cbs-main-title {
    border: solid $second-gray;
    border-width: 0 0 1px 0;
    padding-bottom: 16px;
    margin-bottom: 8px;
  }

  .ranks-container {
    display: flex;
    align-items: center;

    .rank-container {
      display: flex;
      align-items: center;
      max-width: 50%;

      .talent-rank-img {
        width: 48px;
      }

      .rank-title {
        padding-right: 16px;
        display: none;
      }

      .rank-description {
        border: solid $second-gray;
        border-width: 0 0 0 1px;
        padding: 16px;
        display: none;
      }

      &.selected,
      &:hover {
        .rank-description,
        .rank-title {
          display: block;
        }
      }
    }
  }
}

.jobs-container {
  margin: 0 $side-margin;

  .job-container {
    padding: 6px 12px;

    margin-bottom: 24px;
    border: solid 1px $first-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;

    &:hover {
      cursor: pointer;
      border-color: $secondary;

      .cbs-big-title {
        color: $secondary;
      }
    }

    & > * {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        flex: 1;
        justify-content: flex-end;
        padding-right: 64px;
      }
    }

    .job-img {
      width: 72px;
    }

    .job-illustration {
      width: 56px;
    }
  }
}
