<div class="search-container">
  <h3 class="cbs-second-title  choose-rank-title">Choisis ton rôle</h3>
  <div class="ranks-container">
    <p class="cbs-text" (click)="selectedRank = undefined">Grades</p>
    <div class="rank-container" [ngClass]="{'selected': selectedRank === rank.Bronze}">
      <img class="talent-rank-img" src="{{ imgPath.ranks.bronze }}" alt="bronze" (click)="selectedRank = rank.Bronze">
      <p class="cbs-second-title rank-title">Bronze</p>
      <p class="cbs-text rank-description">{{ site.bronzeDescription }}</p>
    </div>
    <div class="rank-container" [ngClass]="{'selected': selectedRank === rank.Silver}">
      <img class="talent-rank-img" src="{{ imgPath.ranks.silver }}" alt="silver" (click)="selectedRank = rank.Silver">
      <p class="cbs-second-title rank-title">Silver</p>
      <p class="cbs-text rank-description">{{ site.silverDescription }}</p>
    </div>
    <div class="rank-container" [ngClass]="{'selected': selectedRank === rank.Gold}">
      <img class="talent-rank-img" src="{{ imgPath.ranks.gold }}" alt="gold" (click)="selectedRank = rank.Gold">
      <p class="cbs-second-title rank-title">Gold</p>
      <p class="cbs-text rank-description">{{ site.goldDescription }}</p>
    </div>
    <div class="rank-container" [ngClass]="{'selected': selectedRank === rank.Diamond}">
      <img class="talent-rank-img" src="{{ imgPath.ranks.diamond }}" alt="diamond"
        (click)="selectedRank = rank.Diamond">
      <p class="cbs-second-title rank-title">Diamond</p>
      <p class="cbs-text rank-description">{{ site.diamondDescription }}</p>
    </div>
  </div>
</div>
<div class="jobs-container">
  <ng-container *ngFor="let job of jobs">
    <div class="job-container" *ngIf="!selectedRank  ||  selectedRank === job.rank" routerLink="{{ job.id }}">
      <div>
        <img class="talent-rank-img" src="{{ rankService.getImgPathForRank(job.rank) }}" alt="gold" class="job-img">
        <p class="cbs-main-title job-title">{{ job.title }}</p>
      </div>
      <div>
        <i class="pi pi-comment"></i>
        <p class="cbs-second-title">{{ job.description }}</p>
      </div>
      <div>
        <i class="pi pi-calendar-times"></i>
        <p class="cbs-second-title">{{ job.createdDate | date: 'mediumDate' }}</p>
      </div>
    </div>
  </ng-container>
</div>
