<p-table [value]="resources" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let label of resourcesLabels">{{ label.value }}</th>
      <th class="action-cell">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-element>
    <tr (click)="selectElement(element)" [ngClass]="{'selected': element.selected }">
      <td *ngFor="let label of resourcesLabels">{{ label.key ? element[label.key] : label.formatter(element) }}</td>
      <td class="action-cell">
        <i class="pi pi-trash" pTooltip="Delete" (click)="onDeleteRessource(element)"
          *ngIf="resourcesActions.onDelete"></i>
        <i class="pi pi-directions" pTooltip="Consult" (click)="resourcesActions?.onConsult(element.id)"
          *ngIf="resourcesActions.onConsult"></i>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog header="Confirmer la supression" icon="pi pi-exclamation-triangle"></p-confirmDialog>
