<div class="listing">
  <div class="list-header">
    <h2>Busters</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Buster"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-resource-listing [resourcesActions]="bustersListingAction" [resources]="resources"
    [resourceService]="busterService">
  </app-resource-listing>
</div>
<app-buster-edit [resource]="selectedResource" class="edit-element" [createMode]="creationMode"
  (newResourceEmitter)="onNewResource($event)" (updateResourceEmit)="onUpdateResource($event)">
</app-buster-edit>
