@import "colors";
@import "constants";
@import "../home.scss";

:host {
  display: flex;
  flex-direction: column;
  padding: $side-margin;
}

.home-busters-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;

  .logo {
    max-width: 30%;
  }

  .home-busters-title {
    margin-bottom: 8px;
  }

  .home-buster-undertitle {
    margin-bottom: 16px;
  }

  .home-buster-description {
    visibility: hidden;
  }
}

// CATEGORY CONTAINER

.home-busters-start-container {
  max-width: 35%;
}

.home-buster-staff-container {
  margin-bottom: 32px;
}

.home-busters-start-container,
.home-buster-staff-container,
.home-busters-client-container {
  &:hover {
    .home-buster-description {
      visibility: visible;
    }
  }
}
