<div class="home-title-container">
  <p class="cbs-big-title"><span class="indicator">01.</span><span class="title-content">CODE BUSTERS</span> </p>
</div>
<div>
  <div class="home-busters-content-container">
    <div class="home-busters-start-container">
      <p class="cbs-main-title cbs-text-color-secondary home-busters-title">{{ site.startBusterTitle }}</p>
      <p class="cbs-second-title home-buster-undertitle">{{ site.startBusterUnderTitle }}</p>
      <p class="cbs-text cbs-text-color-gray home-buster-description">{{ site.startBusterDescription }}</p>
    </div>
    <img src="{{  imgPath.logoWithoutBackground }}" class="logo">
    <div>
      <div class="home-buster-staff-container">
        <p class="cbs-main-title cbs-text-color-secondary home-busters-title">{{ site.staffBusterTitle }}</p>
        <p class="cbs-second-title home-buster-undertitle">{{ site.staffBusterUnderTitle }}</p>
        <p class="cbs-text cbs-text-color-gray home-buster-description">{{ site.staffBusterDescription }}</p>
      </div>
      <div class="home-busters-client-container">
        <p class="cbs-main-title cbs-text-color-secondary home-busters-title">{{ site.clientBusterTitle }}</p>
        <p class="cbs-second-title home-buster-undertitle">{{ site.clientBusterUnderTitle }}</p>
        <p class="cbs-text cbs-text-color-gray home-buster-description">{{ site.clientBusterDescription }}</p>
      </div>
    </div>
  </div>
</div>
