@import "colors";
@import "constants";
@import "../home.scss";
@import "mixin";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include cbsSidePadding(1, 1, 1, 1);
}

.home-busters-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0;

  .logo {
    max-width: 30%;
  }

  .home-busters-title {
    margin-bottom: 8px;
  }

  .home-buster-undertitle {
    margin-bottom: 16px;
  }

  .home-buster-description {
    visibility: hidden;
  }

  .home-busters-start-container {
    max-width: 35%;
  }
}

.home-buster-staff-container {
  margin-bottom: 32px;
}

.home-busters-start-container,
.home-buster-staff-container,
.home-busters-client-container {
  &:hover {
    .home-buster-description {
      visibility: visible;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .home-busters-content-container {
    flex-direction: column;

    .home-buster-description {
      visibility: visible;
    }

    .logo {
      order: 1;
      max-width: 70%;
    }

    .home-busters-start-container {
      order: 2;
      max-width: 100%;
      text-align: left;
      margin-bottom: 32px;

      .cbs-center-right {
        text-align: left;
      }
    }

    .home-busters-content {
      order: 3;
    }
  }
}
