@import "constants";

.job-offer-container {
  padding: 0 $side-margin;
  display: flex;

  & > * {
    flex: 1;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:last-child {
      justify-content: center;
    }
  }

  .cbs-second-title {
    margin: 32px 0;
  }

  .job-rank-img {
    width: 60%;
  }

  .map-icon {
    width: 40%;
  }
}

.job-offer-actions-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
