<div *ngIf="_resource" class="edit-container">

  <p-tabView>

    <p-tabPanel header="Main informations">
      <div class="edit-category">
        <form [formGroup]="resourceForm" class="edit-form">
          <div class="edit-field">
            <label class="edit-label">Name</label>
            <input class="edit-input" formControlName="name" type="text" pInputText />
          </div>
        </form>

        <div class="edit-actions">
          <button *ngIf="_createMode" pButton type="button" icon="pi pi-plus" iconPos="left" label="Create"
            class="edit-save p-button-outlined p-button-success" (click)="createResource()"
            [disabled]="resourceForm.invalid"></button>
          <button *ngIf="!_createMode" pButton type="button" icon="pi pi-save" iconPos="left" label="Save"
            class="edit-save p-button-outlined p-button-primary" (click)="updateResource()"
            [disabled]="resourceForm.invalid"></button>
        </div>
      </div>
    </p-tabPanel>

    <ng-container *ngIf="!_createMode">

      <p-tabPanel header="Busters">
        <div class="edit-category">
          <app-resource-listing [resourceService]="busterService" [resourcesActions]="bustersListingAction"
            [resources]="_resource.consumers">
          </app-resource-listing>
          <p class="empty-list-message" *ngIf="!_resource.consumers || _resource.consumers.length === 0">Noby knows this
            technology</p>
          <app-resource-search actionLabel="Add Buster" [resourceService]="busterService"
            (selectionEmitter)="onAddingBusterKnowledge($event)"></app-resource-search>
        </div>
      </p-tabPanel>



    </ng-container>

  </p-tabView>







</div>
