@import "colors";
@import "constants";
@import "mixin";

:host {
  @include cbsSideMargin(1, 0, 0, 0);
  display: block;

  .rules-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .rule {
      z-index: 2;
      position: relative;
      @include cbsSideMargin(0, 1, 0, 1);
      display: flex;

      & > * {
        flex: 1;
      }

      @media screen and (max-width: $screen-md) {
        display: flex;
        flex-direction: column;
      }

      .rule-title {
        display: flex;
        align-items: center;

        @media screen and (max-width: $screen-md) {
          @include cbsSideMargin(0, 0, 1, 0);
        }

        .picto-rule {
          width: 38px;
          margin-right: 16px;
        }

        .picto-hover {
          display: none;
        }
      }

      @media screen and (max-width: $screen-md) {
        .cbs-text {
          display: none;
        }
      }

      &:hover {
        .rule-title,
        .cbs-text {
          color: $secondary;
        }

        .picto-rule {
          display: none;
        }

        .picto-hover {
          display: block !important;
        }

        @media screen and (max-width: $screen-md) {
          .cbs-text {
            color: $second-gray;
            display: block;
          }
        }
      }
    }

    .rules-container-background {
      opacity: 0.1;
      position: absolute;
      left: 30%;
      top: -10%;
      width: 40%;
      height: 110%;
      z-index: 1;

      @media screen and (max-width: $screen-md) {
        display: none;
      }
    }

    & > * {
      padding: 32px 0;
    }
  }
}
