@import "colors";
@import "constants";

:host {
  margin-top: $side-margin;
  display: block;

  .rules-container {
    position: relative;

    .rule {
      z-index: 2;
      position: relative;

      .rule-title {
        display: flex;
        align-items: center;

        .picto-rule {
          width: 38px;
          margin-right: 16px;
        }

        .picto-hover {
          display: none;
        }
      }

      &:hover {
        .rule-title,
        .cbs-text {
          color: $secondary;
        }

        .picto-rule {
          display: none;
        }

        .picto-hover {
          display: block !important;
        }
      }
    }

    .rules-container-background {
      opacity: 0.1;
      position: absolute;
      left: 30%;
      top: -10%;
      width: 40%;
      height: 120%;
      z-index: 1;
    }

    & > * {
      padding: 32px 0;
    }
  }
}
