<div class="listing">
  <div class="list-header">
    <h2>Squads</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Squad"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>
  <app-squad-listing [squads]="squads" (selectSquad)="selectSquad($event)" (deleteSquad)="deleteSquad($event)"></app-squad-listing>
</div>
<app-squad-edit (updateSquadEmit)="onUpdateSquad($event)" [squad]="selectedSquad" class="edit-element" [createMode]="creationMode"
  (newSquadEmit)="onNewSquad($event)">
</app-squad-edit>
