<div class="listing">
  <div class="list-header">
    <h2>Squads</h2>
    <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Create A Squad"
      class="edit-save p-button-outlined p-button-success" (click)="creationMode = true"></button>
  </div>

  <app-resource-listing [resourceService]="squadService" [resources]="resources"
    [resourcesActions]="squadsListingAction">
  </app-resource-listing>
</div>
<app-squad-edit (updateResourceEmit)="onUpdateResource($event)" [resource]="selectedResource" class="edit-element"
  [createMode]="creationMode" (newResourceEmitter)="onNewResource($event)">
</app-squad-edit>
