<p-carousel class="cbs-carousel" [value]="homeContainers" [autoplayInterval]="4000" [showIndicators]=false>
  <ng-template let-item pTemplate="item">
    <div class="home-news-content-container">
      <div class="home-news-content">
        <p class="cbs-main-title news-title">{{ item.title }}</p>
        <p class="cbs-big-title news-under-title">{{ item.underTitle }}</p>
        <button class="cbs-button cbs-savoir" (click)="item.callToAction(item.elementId)">
          EN SAVOIR
          <i class="pi pi-plus"></i>
        </button>
      </div>
      <div class="img-container">
        <img src="{{ item.imgPath }}" alt="{{ item.imgPath }}">
      </div>
    </div>
  </ng-template>
</p-carousel>
