@import "constants";
@import "colors";

:host {
  display: flex;
  padding: 0 $side-margin $side-margin $side-margin;
  background-image: linear-gradient(
    10deg,
    hsl(249deg 25% 21%) 0%,
    hsl(249deg 26% 21%) 7%,
    hsl(249deg 26% 20%) 13%,
    hsl(249deg 27% 19%) 17%,
    hsl(248deg 28% 19%) 20%,
    hsl(248deg 29% 18%) 22%,
    hsl(248deg 30% 18%) 24%,
    hsl(248deg 31% 17%) 25%,
    hsl(248deg 32% 16%) 27%,
    hsl(247deg 33% 16%) 28%,
    hsl(247deg 35% 15%) 30%,
    hsl(247deg 36% 14%) 33%,
    hsl(247deg 38% 14%) 36%,
    hsl(246deg 39% 13%) 42%,
    hsl(246deg 41% 13%) 50%,
    hsl(247deg 44% 12%) 64%,
    hsl(249deg 47% 11%) 100%
  );
  overflow: hidden;
}

.home-news-content-container {
  padding: 0 $side-margin;
  width: 100%;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .cbs-big-title {
    margin: 32px 0;
  }

  .cbs-main-title {
    display: inline;
    border: solid $white;
    border-width: 0 0 1px 0;
    padding-bottom: 16px;
  }

  img {
    max-width: 40%;
  }
}
